body {
  background-color:red
}

h1 {
  color:navy;
  font-size:69px;
  font-family: Arial, sans-serif;
  padding-left: 40px;
}

.goop {
  background-color: lime;
}

img {
  width: 520px;
  height: 160px;
  border: 40px solid yellow
}
